Repository OpenEconomics-app/civiqa, changes with the owners that CODEOWNERS names for each.
All owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend, @OpenEconomics/dev-backend, @OpenEconomics/devops

CODEOWNERS:

# Require admin/team reviews by area
/apps/web/*     @OpenEconomics/admins @OpenEconomics/dev-frontend
/apps/api/*     @OpenEconomics/admins @OpenEconomics/dev-backend
/.github/*      @OpenEconomics/admins @OpenEconomics/devops
/docs/*         @OpenEconomics/admins @OpenEconomics/devops

DevOps: Create initial pipeline files for web and ci, as well as the PR template file
  .github/pull-request-template.md
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Owners: @OpenEconomics/admins, @OpenEconomics/devops

DevOps: Update Web-Ci
  .github/workflows/web-ci.yml
Owners: none

DevOps: Create full-v of the web-ci pipeline
  .github/workflows/web-ci.yml
Owners: none

DevOps: Create full-v of the web-ci pipeline #2
  .github/workflows/web-ci.yml
Owners: none

ENV: keep packages directory for github remote
  packages/.gitkeep
Owners: none

DevOps: Resetting initial files for the entire Ci flow, and updating scripts for the packageJSON
  .github/workflows/_reusable_ci.yml
  .github/workflows/api-ci.yml
  .github/workflows/api_ci.yml
  .github/workflows/codeql.yml
  .github/workflows/trivy.yml
  .github/workflows/web-ci.yml
  .github/workflows/web_ci.yml
  apps/api/package.json
  apps/web/package.json
Owners: @OpenEconomics/admins, @OpenEconomics/dev-backend, @OpenEconomics/dev-frontend

DevOps: Update the PR template
  .github/pull-request-template.md
Owners: @OpenEconomics/admins, @OpenEconomics/devops

DevOps: Create PR CI for the laravel api
  .github/workflows/api_ci.yml
Owners: none

DevOps: Create PR CI for the Next WebApp
  .github/workflows/web_ci.yml
Owners: none

DevOps: Create trivy pipeline for security scans
  .github/workflows/trivy.yml
Owners: none

DevOps: Create CodeQl Ci, for code quality scan
  .github/workflows/_reusable_ci.yml
  .github/workflows/codeql.yml
Owners: none

DevOps: Update PR Ci Pipelines
  .github/workflows/api_ci.yml
  .github/workflows/web_ci.yml
Owners: none

DevOps: Update Pipelines Read Permission
  .github/workflows/api_ci.yml
  .github/workflows/codeql.yml
  .github/workflows/trivy.yml
  .github/workflows/web_ci.yml
Owners: none

Ops: Reset the workflows
  .github/workflows/api_ci.yml
  .github/workflows/codeql.yml
  .github/workflows/trivy.yml
  .github/workflows/web_ci.yml
Owners: none

Ops: Update all pipelines for the new build
  .DS_Store
  .github/.DS_Store
  .github/workflows/api_ci.yml
  .github/workflows/trivy.yml
  .github/workflows/web_ci.yml
Owners: @OpenEconomics/admins, @OpenEconomics/devops

Ops: Update in the web files to test trigger the pipeline
  apps/web/CODEOWNERS
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

Ops: Update the Web Pipeline
  .github/workflows/web_ci.yml
  apps/web/README.md
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

Ops: Update the Web Pipeline #2
  .github/workflows/web_ci.yml
  apps/web/CODEOWNERS
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

OPS: update PR ci Pipelines #3, with tiny edits to test
  .github/workflows/api_ci.yml
  .github/workflows/trivy.yml
  .github/workflows/web_ci.yml
  apps/api/composer.lock
  apps/api/package.json
  apps/web/README.md
Owners: @OpenEconomics/admins, @OpenEconomics/dev-backend, @OpenEconomics/dev-frontend

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Owners: none

ops; Update web ci #4
  .github/workflows/web_ci.yml
  apps/web/README.md
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Owners: none

Delete .github/workflows/codeql.yml (#8)
  .github/workflows/codeql.yml
Owners: none

ops; Update web ci #4
  .github/.DS_Store
  apps/web/README.md
Owners: @OpenEconomics/admins, @OpenEconomics/devops, @OpenEconomics/dev-frontend

ops: Update web ci #6'
  apps/web/package-lock.json
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

ops: Update web ci #7
  .github/workflows/web_ci.yml
  apps/web/README.md
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

ops: Update web ci #8
  apps/web/eslint.config.mjs
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

ops: Update web ci #9
  apps/web/jest.config.js
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/lib/sum.test.ts
  apps/web/src/lib/sum.ts
  apps/web/tsconfig.json
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

OPS: update PR ci Pipelines #3, with tiny edits to test
  .github/workflows/api_ci.yml
  .github/workflows/trivy.yml
  .github/workflows/web_ci.yml
  apps/api/composer.lock
  apps/api/package.json
  apps/web/README.md
Owners: @OpenEconomics/admins, @OpenEconomics/dev-backend, @OpenEconomics/dev-frontend

ops: Update web ci #6'
  apps/web/package-lock.json
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

ops; Update web ci #4
  .github/.DS_Store
  apps/web/README.md
Owners: @OpenEconomics/admins, @OpenEconomics/devops, @OpenEconomics/dev-frontend

ops: Update web ci #9
  apps/web/jest.config.js
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/lib/sum.test.ts
  apps/web/src/lib/sum.ts
  apps/web/tsconfig.json
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

ops; Update web ci #4
  .github/workflows/web_ci.yml
  apps/web/README.md
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

ops: Update web ci #7
  .github/workflows/web_ci.yml
  apps/web/README.md
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

ops: Update web ci #8
  apps/web/eslint.config.mjs
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

ops: Update web ci #10, =Update Build Script
  apps/web/package.json
Owners: @OpenEconomics/admins, @OpenEconomics/dev-frontend

Ops (#13)
  .github/.DS_Store
  .github/workflows/api_ci.yml
  .github/workflows/trivy.yml
  .github/workflows/web_ci.yml
  apps/api/composer.lock
  apps/api/package.json
  apps/web/eslint.config.mjs
  apps/web/jest.config.js
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/lib/sum.test.ts
  apps/web/src/lib/sum.ts
  apps/web/tsconfig.json
Owners: @OpenEconomics/admins, @OpenEconomics/devops, @OpenEconomics/dev-backend, @OpenEconomics/dev-frontend
